<!-- <p>nav works!</p> -->

<!--Aqui apareceran las diferentes etiquetas de menu HOME, STARSHIPS, CHARACTERS y las llamaremos al onclick mediante rutas-->
<nav class="navbar navbar-expand navbar-dark px-3 mt-3">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/welcome">Home</a>
      <a class="nav-item nav-link" routerLink="/main-page">Starships</a>
      <!-- <a class="nav-item nav-link" routerLink="/account/register">Register</a> -->
  </div>
</nav>














<!--EJ 5 Aqui pondremos el logo starwars y las rutas al login y al registro?-->

<!-- <div class="header-container d-flex align-items-center"> -->
  <!--Starwars logo-->
  <!-- <div class="nav-logo d-flex">
    <img src="../../assets/img/sw_logo_stacked_2x-52b4f6d33087_7ef430af.png" alt="logo-pagina" class="logosw">
  </div> -->

  <!--Login-->
  <!-- <div class="entrance-container d-flex ml-auto"> <!--justify-content-end-->
    <!-- <a href="#">Login</a>
    <a href="#">Sign Up</a>
  </div> -->

  <!-- AÑADIR EL MENU CON HOME Y STARSHIPS Y LUEGO ENRUTARLO -->




<!-- </div> -->
