
.modal-container {
  background-image: url('../../../assets/img/starry-night-sky_1048-11828.avif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

.custom-button {
  background-color: #ffd700;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #e0a800;
}

.link-primary {
  color: #ffd700;
}

.link-primary:hover {
  text-decoration: underline;
}
