<!-- <p>welcome works!</p> -->
<!-- AÑADIR LA PAGINA DE BIENVENIDA PONER BOTÓN INICIAL/START PARA PODER ENTRAR -->

<div class="welcome-container-background">
  <div class="background-left"></div>
  <div class="background-right"></div>
  <h1>Welcome! may the force be with you!</h1>



  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="max-width: 950px; margin: 0 auto;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/modern_characters.webp" class="d-block w-100"  alt="Imatge 1">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/starwars_e58d682b_all_charachters.jpg" class="d-block w-100" alt="Imatge 2">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/16831803848910 amenaza.jpg" class="d-block w-100" alt="Imatge 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Següent</span>
    </button>

  </div>
  <!-- Hacer el routing correctamente!! -->
  <button routerLink="/main-page" class="btn-acces">Accedir a la pàgina de naus</button>



</div>

<app-footer></app-footer>
